html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(28, 98, 255, 0.6);
}
.form-signin {
  padding: 15px;
  position: relative;
  max-width: 360px;
  margin: auto;
}
h1#logo{
  width:100%;
  font: bold 45px "Poppins";
  color:#fff;
}

.form-signin .checkbox {
  font-weight: 400;
}
#userid{
  margin-bottom: 30px;
  border-radius: 20px;
}
#userpw{
  border-radius: 20px;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#loginBtn{
  background: rgba(255, 74, 99, 0.8);
  border: 1px solid rgba(255, 74, 99, 0.8);
  font-family: Poppins;
}
#loginBtn:hover{
 background: rgba(216, 24, 51, 0.8);
}
#email_label,#pass_label,#remember,#teamXD{
  font-family: Poppins;
}
/*****************media*******************/
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
