html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(114, 169, 140);
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/******************추가 css**********************/
h1#commentoon{
  font: bold 45px/40px "Poppins";
  color:#fff;
}
h1#commentoon span{
  font: normal 24px "Noto Sans KR";
}
#overlap{
  position: absolute;
  top:10px; right: 10px;
  background: rgba(8, 38, 255, 0.8);
}
#overlap:hover{
  background: rgba(11, 24, 107, 0.8);
}
#usernick,#userpw2,#userpw,#userid{
  border-radius: 20px;
}
#signbtn{
  background: rgba(255, 74, 99, 0.8);
  border: 1px solid rgba(255, 74, 99, 0.8);
  font-family: Poppins;
  border-radius: 20px;
}
#signbtn:hover{
  background: rgba(216, 24, 51, 0.8);
}
#nick_label,#confirm_label,#pw_label,#email_label,#teamXD{
  font-family: Poppins;
}