* {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.header__logo {
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 700;
}

.banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(https://image.zdnet.co.kr/2020/03/06/hjan_EWKpagLviyCwJNQ.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 !important;
}

.banner h1,
.banner p {
  color: #fff;
}

.button__wrapper {
  margin: 30px 0 !important;
}
